body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-color: #8585bad5;
    background-image: url('backgrounds/default.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.4); /* Transparenter Hintergrund */
    border-radius: 22px;
    box-shadow: 0 6px 8px rgba(36, 36, 36, 0.8);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.title {
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0 8px 8px rgba(0, 0, 0, 0.75);
    background-size: 400%;
    margin-bottom: 20px;
    transition: transform 1s ease;
}

.title:hover {
    transform: scale(1.25);
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#city-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccccccb6;
    border-radius: 50px;
    width: calc(100% - 60px);
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.25); /* Transparenter Hintergrund */
    outline: none;
    box-shadow: 0 4px 6px rgba(55, 55, 55, 0.6);
}

#search-button {
    background: #ccccccb6; 
    border: 0px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    background: rgba(255, 255, 255, 0.35);
    justify-content: center;
    align-items: center;
    transition: transform 0.4s ease;
    box-shadow: 0 4px 6px rgba(55, 55, 55, 0.6);
}

#search-button img {
    width: 20px;
    height: 20px;
}

#search-button:hover {
    transform: scale(1.25);
}

.current-weather {
    margin-top: 20px;
    display: none; /* Initially hidden */
    text-align: center;
}

.current-weather img {
    width: 150px;
    height: 150px;
}

.current-temperature {
    font-size: 3rem;
    font-weight: bold; /* Schriftdicke geändert */
    margin: 10px 0;
}

.current-location {
    font-size: 2rem;
    font-weight: bold; /* Schriftdicke geändert */
    margin: 10px 0;
}

.weather-info {
    margin-top: 20px;
    display: none; /* Initially hidden */
}

.forecast {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.forecast-day {
    background: rgba(249, 249, 249, 0.35); /* Transparenter Hintergrund */
    border-radius: 7px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(55, 55, 55, 0.6);
    flex: 5 5 15%; /* Feste Breite für die Tagesblöcke */
    margin: 5px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.4s ease;
}

.forecast-day:hover {
    transform: scale(1.05);
}

.forecast-day img {
    max-width: 100%;
    height: auto;
}
