body {
    font-family: Arial, sans-serif;
    background-color: #3a3ab3c6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.3); /* Transparenter Hintergrund */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.title {
    font-size: 2rem;
    color: transparent;
    background: linear-gradient(90deg, #ff0000, #00ff00, #0000ff, #ff00ff);
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradient 8s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.search {
    margin-bottom: 20px;
}

#city-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 120px);
    margin-right: 10px;
}

button {
    padding: 10px;
    margin-top: 10px;
    font-size: 1rem;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.weather-info {
    margin-top: 20px;
}

.current-weather, .forecast {
    margin-top: 10px;
}

.current-weather p, .forecast p {
    margin: 5px 0;
}

.forecast {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.forecast-day {
    background: rgba(249, 249, 249, 0.35); /* Transparenter Hintergrund */
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 0 0 15%; /* Feste Breite für die Tagesblöcke */
    margin: 5px;
    box-sizing: border-box;
    text-align: center;
}

.forecast-day img {
    max-width: 100%;
    height: auto;
}
